body {
    background-color: #0f172a;
    font-family: 'Segoe UI', sans-serif;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #0f172a, #1e293b);
}

.section-title {
    color: #facc15;
    font-weight: bold;
    margin-bottom: 40px;
}

.nav-link {
    margin-left: 20px;
}

.card {
    background-color: #1e293b;
    color: white;
    border: none;
    border-radius: 15px;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-warning {
    background-color: #facc15;
    border: none;
    font-weight: bold;
}

input, textarea {
    background-color: #1e293b !important;
    color: white !important;
    border: 1px solid #334155 !important;
}

.progress {
    height: 20px;
    border-radius: 10px;
}